<div style="background-color: white">
    <div class="container py-4">
        <hr style="background-color: grey; border 1px solid">
        <div class="d-flex justify-content-start ">
            <div>
             <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin porta odio, sit amet venenatis ante efficitur ut. Nullam sed pharetra lacus. Fusce lectus nunc, viverra et porttitor sit amet, sodales eu metus. Aenean orci lorem, finibus non risus ut, ultricies ullamcorper turpis.</p>
            </div>

            <img class="rounded-circle ms-3" 
            src="./assets/img/1.jpg" 
            alt="Imagen"  
            width="250" 
            height="250"
            >

        </div>
    </div>
</div>

